<launch>
   <include file="$(find usb_cam)/launch/front_camera.launch" >
   </include>
   <include file="$(find usb_cam)/launch/bottom_camera.launch" >
   </include>
   <include file="$(find imu_bno055)/launch/imu.launch" >
   </include>
   
   <node name="motor_commander" pkg="motor_command" type="motor_commander.py" />
   
   <node name="ms5837_driver" pkg="ms5837" type="ms5837_ros.py" />
   <!--<node name="hydrophone_test" pkg="hydrophones" type="hydrophone_test.py" />
_-->
</launch>
